---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="M4B Demo">
    <!-- Google Calendar Appointment Scheduling begin -->
    <style>
        
        .constrained {
            /* max-width: 900px; */
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            height: 200vh;

        }
        .text{
            color: white;
        }
    </style>
    <div class="constrained">
        <!-- <h1 class="text">"Hello"</h1> -->
        <img src="src/assets/img/clothes/white_dress.png" alt="White_1">
    </div>
    <!-- end Google Calendar Appointment Scheduling -->
</DefaultLayout>
