---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <CallToAction /> -->
  <!-- <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Random Science sp. z o.o.
      </p>
      <p>ul. Gościnna 1 86-014 Sicienko</p>
      <p>Sąd Rejonowy w Bydgoszczy, XIII Wydział Gospodarczy Krajowego Rejestru Sądowego.</p>
      <p>KRS: 0001098573, NIP: 5543023781, Kapitał zakładowy 5 tys. zł</p>
      <p>
        <a href="/licenses">Software licences</a>
      </p>
    </div>
  </section>
</footer> -->

<footer class="my-10">
  <footer class="bg-white">
    <div class="mx-auto max-w-screen-xl space-y-8 px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        <div>
          <h3>Random Science</h3>
  
          <p class="mt-4 max-w-xs text-sm text-gray-500">ul. Gościnna 1 86-014 Sicienko</p>
          <p class="mt-4 max-w-xs text-sm text-gray-500">Sąd Rejonowy w Bydgoszczy, XIII Wydział Gospodarczy Krajowego Rejestru Sądowego.</p>
          <p class="mt-4 max-w-xs text-sm text-gray-500">KRS: 0001098573, NIP: 5543023781, Kapitał zakładowy 5 tys. zł</p>


          <!-- <ul class="mt-8 flex gap-6">
            <li>
              <a
                href="#"
                rel="noreferrer"
                target="_blank"
                class="text-gray-700 transition hover:opacity-75"
              >
                <span class="sr-only">GitHub</span>
  
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </li>
          </ul> -->
        </div>
  
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:col-span-2 lg:grid-cols-4">
          <div>
            <p class="font-medium text-gray-900">Services</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a href="/#services" class="text-gray-700 transition hover:opacity-75"> Software R&D </a>
              </li>
  
              <li>
                <a href="/#services" class="text-gray-700 transition hover:opacity-75"> Design & Manufacturing </a>
              </li>
  
              <li>
                <a href="/#services" class="text-gray-700 transition hover:opacity-75"> 3D Printing </a>
              </li>
  
              <li>
                <a href="/#services" class="text-gray-700 transition hover:opacity-75"> ML/AI Consulting </a>
              </li>
            </ul>
          </div>
  
          <!-- <div>
            <p class="font-medium text-gray-900">Company</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"> About </a>
              </li>
  
              <li>
                <a href="/team" class="text-gray-700 transition hover:opacity-75"> Meet the Team </a>
              </li>

              <li>
                <a href="/projects" class="text-gray-700 transition hover:opacity-75"> Projects </a>
              </li>
            </ul>
          </div>
   -->
          <div>
            <p class="font-medium text-gray-900">Helpful Links</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a href="https://status.randomscience.org" class="text-gray-700 transition hover:opacity-75"> Service Status </a>
              </li>
  
              <li>
                <a href="/_/" class="text-gray-700 transition hover:opacity-75"> Client Login </a>
              </li>
  
            </ul>
          </div>
  
          <div>
            <p class="font-medium text-gray-900">Legal</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a href="/licenses" class="text-gray-700 transition hover:opacity-75"> Licences </a>
              </li>
  
              <li>
                <a href="/privacy" class="text-gray-700 transition hover:opacity-75"> Privacy Policy </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  
      <p class="text-xs text-gray-500">&copy; 2024. Random Sciecne. All rights reserved.</p>
    </div>
  </footer>
</footer>

<style>
  footer {
    background-color: var(--secondary-200);
    /* background-color: white; */
  }
</style>
